.page-footer {
  width: 100%;
  margin-top: 14.4rem;
  border-top: 2px solid var(--color-complement1);
  display: flex;
  flex-direction: column;
}

.page-footer .footer-content {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}

.page-footer .social-links {
  display: flex;
  flex-direction: column;
  margin-top: 2.1rem;
  width: 248px;
}

.social-links .social {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.social-links .social a + a {
  margin-left: 3rem;
}

.social-links .labels {
  display: flex;
  align-items: center;
}

.labels a + a {
  margin-left: 3.2rem;
}

.footer-content .news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 293px;
  height: 293px;
  border: 2px solid var(--color-complement1);
  background-color: var(--color-background);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 15px;
  margin-left: 6.2rem;
}

.footer-content .news p {
  font-size: 1.6rem;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-content .news form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3rem;
}

.news form label {
  font-size: 1.2rem;
  color: var(--color-black);
  opacity: 0.8;
}

.news form input {
  border: none;
  border-bottom: 2px solid var(--color-complement1);
  margin-top: 5px;
  margin-bottom: 1.5rem;
  padding: 0 5px;
}

.news form input + input {
  margin-bottom: 0;
}

.news form input:focus {
  outline: none;
}

.news form input::placeholder {
  font-size: 1.4rem;
  color: var(--color-black);
  opacity: 0.8;
}

.news form button {
  border: none;
  width: 110px;
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  align-self: center;
  margin-top: 2.7rem;
}

.page-footer .footer-bottom {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  color: var(--color-white);
  margin-top: 4.5rem;
}

.page-footer .footer-bottom p {
  font-size: 1.4rem;
  padding-right: 5rem;
}

@media (max-width: 768px) {
  .page-footer .footer-content {
    flex-direction: column;
    padding: 0;
  }
  .footer-content .social-links {
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
  }

  .footer-content .social-links .social {
    margin-bottom: 3rem;
  }

  .footer-content .accordion {
    flex-direction: column;
    order: -1;
    width: 100%;
  }

  .footer-content .news {
    width: 100%;
    height: 128px;
    border-radius: initial;
    position: static;
    border: none;
    margin-left: 0;
    margin-top: 3rem;
  }

  .footer-content .news p {
    font-size: 1.6rem;
    color: var(--color-complement1);
    text-align: center;
    text-transform: uppercase;
  }

  .footer-content .news form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    padding: 0 1.5rem;
  }

  .news form input[type="text"] {
    width: 100%;
  }

  .news form input[type="email"] {
    width: calc(100% - 100px);
  }

  .news form label {
    font-size: 1.2rem;
    color: var(--color-complement1);
    opacity: 0.8;
    display: block;
    margin-bottom: 5px;
  }

  .news form button {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    margin: 0;
    margin-left: 1rem;
  }

  .page-footer .footer-bottom {
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 3.8rem;
  }

  .page-footer .footer-bottom p {
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}
